/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: Inter, sans-serif;
  --fantasy-font-family: "Press Start 2P", fantasy;
  --title-font-weight: 700;
  --text-font-weight: 400;
  --link-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --heart-color: #ff0000;
  --contour-color: var(--border-color);
  --heart-fill: fill;
  --heart-fill-color: var(--contour-color);
  --border-color: #000;
  --page-background: #fff;
  --inline-size: 100%;
  --border: 2px;
  --background-color: #d3d3d3;
  --background-color-start: #e7e7e7;
  --background-color-end: #1a1a1a;
  --border: 2px;
  --header-gap: 20px;
  --button-padding: 19px;
  --gap: 25px;
  --like-size: 37px;
  --button-font-size: 14px;
  --align-items: center;
  --transition: 0.3s;
  --text-color: var(--page-background);
  --shadow: var(--page-background);
  --letter-spacing-laptop: 0.038rem;
  --letter-spacing-mobile: 1px;
  --word-spacing-mobile: -2.2px;
  --background-gradient: repeating-linear-gradient(
      90deg,
      var(--background-color),
      var(--background-color) 2px,
      transparent var(--border),
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-start),
      var(--background-color-end) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-start) 0.01%,
      var(--background-color-end)
    );
}
